In [3]:
import geopandas as gpd
import pandas as pd
from tqdm import tqdm
import requests
import numpy as np

In [4]:
url = 'https://www.nadlan.gov.il/Nadlan.REST/Main/GetAssestAndDeals'

list_res=[]

In [5]:
df_full=pd.DataFrame()

In [ ]:
objid = 2650

city_name ='רמת השרון'
X =184204.68832654
Y = 671580.2353939

In [7]:
for pagenum in tqdm(range(1,2)):
    data = {"MoreAssestsType":0,"FillterRoomNum":0,"GridDisplayType":0,
            "ResultLable":city_name,
            "ResultType":1,
            "ObjectID":objid,"ObjectIDType":"text","ObjectKey":"UNIQ_ID",
            "DescLayerID":"SETL_MID_POINT","Alert":None,
            "X":X,
            "Y":Y,
            "Gush":"","Parcel":"","showLotParcel":True,
            "showLotAddress":True,"OriginalSearchString":city_name,"MutipuleResults":False,
            "ResultsOptions":None,
            "CurrentLavel":2,
            "Navs":[{"text":None,"url":None,"order":1}],
            "QueryMapParams":{"QueryToRun":None,"QueryObjectID":objid,"QueryObjectType":"number",
                              "QueryObjectKey":"SETL_CODE","QueryDescLayerID":"KSHTANN_SETL_AREA","SpacialWhereClause":None},
            "isHistorical":True,
            "PageNo":pagenum,
            "OrderByFilled":"DEALDATETIME","OrderByDescending":True,"Distance":0}
    result = requests.post(url, json=data).json()
    list_res.append(result)

for r in list_res:
    df= pd.DataFrame(r["AllResults"])
    df_full = pd.concat([df,df_full])

100%|█████████████████████████████████████████████| 1/1 [00:02<00:00,  2.36s/it]

In [9]:
list_res=[]

In [ ]:
df_full=pd.DataFrame()
for start_n in np.arange(1,1201,200):
    
    for pagenum in tqdm(range(start_n,start_n+200)):
        data = {"MoreAssestsType":0,"FillterRoomNum":0,"GridDisplayType":0,
            "ResultLable":city_name,
            "ResultType":1,
            "ObjectID":objid,"ObjectIDType":"text","ObjectKey":"UNIQ_ID",
            "DescLayerID":"SETL_MID_POINT","Alert":None,
            "X":X,
            "Y":Y,
            "Gush":"","Parcel":"","showLotParcel":True,
            "showLotAddress":True,"OriginalSearchString":city_name,"MutipuleResults":False,
            "ResultsOptions":None,
            "CurrentLavel":2,
            "Navs":[{"text":None,"url":None,"order":1}],
            "QueryMapParams":{"QueryToRun":None,"QueryObjectID":objid,"QueryObjectType":"number",
                              "QueryObjectKey":"SETL_CODE","QueryDescLayerID":"KSHTANN_SETL_AREA","SpacialWhereClause":None},
            "isHistorical":True,
            "PageNo":pagenum,
            "OrderByFilled":"DEALDATETIME","OrderByDescending":True,"Distance":0}
        result = requests.post(url, json=data).json()
        list_res.append(result)
    
    for r in list_res:
        df= pd.DataFrame(r["AllResults"])
        df_full = pd.concat([df,df_full])
    df_full.to_csv(f"ramathasharon_nadlan_pages_{start_n+200}.csv")

100%|█████████████████████████████████████████| 200/200 [07:15<00:00,  2.18s/it]
100%|█████████████████████████████████████████| 200/200 [07:47<00:00,  2.34s/it]
100%|█████████████████████████████████████████| 200/200 [07:53<00:00,  2.37s/it]
100%|█████████████████████████████████████████| 200/200 [07:23<00:00,  2.22s/it]
100%|█████████████████████████████████████████| 200/200 [07:47<00:00,  2.34s/it]
 92%|█████████████████████████████████████▋   | 184/200 [10:07<01:18,  4.92s/it]

In [ ]:
o

In [5]:
start_n=801

data = pd.read_csv(f"holon_nadlan_pages{start_n}_{start_n+200}.csv")

data = data.drop_duplicates()

# df_full=pd.DataFrame()

data

,Unnamed: 0,DEALDATE,DEALDATETIME,FULLADRESS,DISPLAYADRESS,GUSH,DEALNATUREDESCRIPTION,ASSETROOMNUM,FLOORNO,DEALNATURE,...,NEWPROJECTTEXT,PROJECTNAME,BUILDINGYEAR,YEARBUILT,BUILDINGFLOORS,KEYVALUE,TYPE,POLYGON_ID,TREND_IS_NEGATIVE,TREND_FORMAT
0,0,15.11.2013,2013-11-15T00:00:00,"נורדאו 7, חולון",נורדאו 7,7167-118-3,דירה בבית קומות,4.0,שניה,63.20,...,NaN,NaN,1960.0,NaN,3.0,3286494049,1,7167-118,False,NaN
1,1,15.11.2013,2013-11-15T00:00:00,"יוסף הנשיא 3, חולון",יוסף הנשיא 3,7171-117-6,דירה בבית קומות,3.0,שניה,65.08,...,NaN,NaN,2004.0,NaN,4.0,3286496920,1,7171-117,False,86% ב 9.5 שנים
2,2,14.11.2013,2013-11-14T00:00:00,"התחייה 19, חולון",התחייה 19,6021-940-45,דירה בבית קומות,2.5,רביעית,42.40,...,NaN,NaN,1960.0,NaN,4.0,3287017789,1,6021-940,False,97% ב 6 שנים
3,3,14.11.2013,2013-11-14T00:00:00,"יצחק וולקני 13, חולון",יצחק וולקני 13,6049-269-12,דירה בבית קומות,3.0,שלישית,57.23,...,NaN,NaN,1970.0,NaN,3.0,3286500777,1,6049-269,False,84% ב 7.3 שנים
4,4,14.11.2013,2013-11-14T00:00:00,NaN,NaN,6869-11-27,דירה בבית קומות,4.0,קומה ‎7‏,113.15,...,NaN,NaN,NaN,NaN,NaN,3286692177,2,6869-11,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,15,15.05.2024,2024-05-15T00:00:00,"דב הוז 67, חולון",דב הוז 67,7162-202-8,דירה בבית קומות,3.0,שניה,67.59,...,NaN,NaN,1970.0,NaN,3.0,3600519998,1,7162-202,False,NaN
19996,16,15.05.2024,2024-05-15T00:00:00,"ארלוזורוב 17, חולון",ארלוזורוב 17,7170-44-18,NaN,5.0,רביעית,130.00,...,1.0,NaN,1930.0,NaN,6.0,11171539210,1,7170-44,False,NaN
19997,17,13.05.2024,2024-05-13T00:00:00,"הגר""א 26, חולון","הגר""א 26",7162-229-10,דירה בבית קומות,4.0,שלישית,72.84,...,NaN,NaN,1995.0,NaN,4.0,3600426734,1,7162-229,False,28% ב 7.5 שנים
19998,18,12.05.2024,2024-05-12T00:00:00,"דוד אלעזר 7, חולון",דוד אלעזר 7,6020-318-3,דירה בבית קומות,3.0,ראשונה,67.00,...,NaN,NaN,2025.0,NaN,1.0,3600652557,1,6020-318,False,NaN
19999,19,10.05.2024,2024-05-10T00:00:00,"חנקין 117, חולון",חנקין 117,6021-522-24,דירה בבית קומות,2.0,ראשונה,36.60,...,NaN,NaN,1960.0,NaN,2.0,3600477426,1,6021-522,False,16% ב 1 שנים